# The Python : Types and Sequnces

In [40]:
type('this is manas here')

str

In [41]:
type(None)

NoneType

In [42]:
type(-1)

int

In [43]:
type(1)

int

In [44]:
type(2.0)

float

In [45]:
def add_num(x,y):
    return x+y
add_num(3,2)

5

In [46]:
type(add_num)

function

## tuples - items can not be changed

## tuples : ()

In [47]:
a=(52,'Manas',7,'Durvankur',8,'Vaishnavi')

In [48]:
type(a)

tuple

## list : []

In [54]:
c=[52,'Manas',7,'Durvankur',8,'Vaishnavi']

In [55]:
type(c)

list

In [56]:
c.append(53)
c.append('Kashmira')
print(c)

[52, 'Manas', 7, 'Durvankur', 8, 'Vaishnavi', 53, 'Kashmira']

In [59]:
for item in a:
    print(item)

52
Manas
7
Durvankur
8
Vaishnavi

In [62]:
i=0
while(i != len(a)):
    print(a[i])
    i+=1

52
Manas
7
Durvankur
8
Vaishnavi

## + sign concates the list while * sign repeats

In [63]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [64]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [65]:
1 in [1,2,3]

True

# Slicing

In [71]:
x = 'I am Manas'
print(x[0])
print(x[0:1])
print(x[0:5])
print(x[0:])
print(x[0:9])

I
I
I am
I am Manas
I am Mana

In [73]:
x[-1] # last letter - indexing

's'

In [93]:
firstname = 'Manas'
lastname= 'Ohara'
print(firstname+' '+lastname)
print('Man' in firstname)

Manas Ohara
True

In [95]:
firstname='Johny Arthur Max Brook'.split(' ')[0]
lastname='Johny Arthur Max Brook'.split(' ')[-1]
print(firstname) # it will print the first word from the string as index is given 0
print(lastname) # it will print the last word frrom the string as index is given -1

Johny
Brook

## Dictionary

## Dictionary : {}

In [111]:
d={'Manas Ohara' : 'manas@mitwpu.edu', 'Bill Gates': 'bill@microsoft.com'}
print(d['Manas Ohara'])

manas@mitwpu.edu

In [101]:
d['Elon Musk']=None
print(d['Elon Musk'])

None

In [110]:
for name in d:
    print(d[name])

manas@mitwpu.edu
bill@microsoft.com
elon@tesla.us

In [109]:
for email in d.values():
    print(email)

manas@mitwpu.edu
bill@microsoft.com
elon@tesla.us

In [107]:
d['Elon Musk']='elon@tesla.us'

In [108]:
print(d)

{'Manas Ohara': 'manas@mitwpu.edu', 'Bill Gates': 'bill@microsoft.com', 'Elon Musk': 'elon@tesla.us'}

In [113]:
for name,email in d.items():
    print(name)
    print(email)

Manas Ohara
manas@mitwpu.edu
Bill Gates
bill@microsoft.com

In [119]:
z ={'Manas' , 'Ohara' , 'manas@mitwpu.edu'}
fname , lname , email = z

In [121]:
fname

'manas@mitwpu.edu'

In [122]:
lname

'Ohara'

In [123]:
email

'Manas'